---
import { defaultLang } from "@i18n/ui.ts";
import { useTranslation } from "@i18n/utils.ts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { isURL } from "@utils/index";

const currentLocale = Astro.currentLocale || defaultLang;
const t = useTranslation(currentLocale);

const SHOW_MORE_PROJECTS = false;
---

<section id="projects" class="mb-12">
  <h2 class="font-title font-bold mb-1 text-2xl">{t("projects.title")}</h2>
  <div class="text-lg *:[p]:mb-4" set:html={t("projects.content")} />
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 my-8">
    {
      (await getCollection("projects", ({ data: { featured } }) => featured))
        .sort((a, b) => {
          return (
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
          );
        })
        .map((project) => (
          <article class="mb-6 rounded-xl shadow p-2 flex flex-col">
            <Image
              class="w-full rounded mb-4 aspect-video object-cover"
              src={`/images/projects/${project.data.thumbnail}`}
              width={480}
              height={270}
              alt={project.data.title}
            />
            <h3 class="font-title font-semibold text-xl mb-4">
              <a
                class="underline underline-offset-4 decoration-4 decoration-cyan-500"
                href={project.data.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                {project.data.title}
              </a>
            </h3>
            <p class="leading-tight">{project.data.summary}</p>
            <ul class="mt-auto py-4">
              {project.data.tags?.map((tag) => (
                <li class="inline-block bg-stone-100 text-stone-600 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                  {tag}
                </li>
              ))}
            </ul>
          </article>
        ))
    }

    {
      SHOW_MORE_PROJECTS && (
        <article class="mb-6 rounded-xl shadow p-2 grid place-items-center">
          <a
            href="#!"
            class="text-7xl font-bold text-stone-400 hover:text-stone-600 transition"
            aria-label={t("projects.seeMore")}
            title={t("projects.seeMore")}
          >
            +
          </a>
        </article>
      )
    }
  </div>
</section>
