---
interface Props {
  title?: string;
}

import "../styles/global.css";
import { useTranslation } from "@i18n/utils.ts";
import { defaultLang } from "@i18n/ui.ts";
import { site } from "@i18n/ui.ts";

const currentLang = Astro.currentLocale || defaultLang;
const t = useTranslation(currentLang);
const { title = "" } = Astro.props;

const jsonLdPersona = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": `${site.user}`,
  "jobTitle": t("user.role"),
  "description": t("site.description"),
  "url": site.url,
  "image": `${site.image}`,
  "sameAs": [
    "https://github.com/Max131",
    "https://www.linkedin.com/in/mario-abreu"
  ],
  "knowsAbout": [
    "Frontend",
    "Svelte",
    "Laravel",
    "Inertia",
    "Astro",
    "JavaScript",
    "HTML",
    "CSS",
    "UX"
  ],
  "brand": {
    "@type": "Organization",
    "name": `Mario - ${t("user.role")}`,
    "url": site.url
  },
  "mainEntityOfPage": {
    "@type": "WebSite",
    "url": site.url
  }
}

const jsonLdService = {
  "@context": "https://schema.org",
  "@type": "Service",
  "serviceType": `${t("user.service")}`,
  "provider": {
    "@type": "Person",
    "name": `${site.user}`
  },
  "description": `${t("site.description")}`,
  "areaServed": "Latinoamérica",
  "url": `${site.url}`
}
---

<html lang={Astro.currentLocale}>
  <head>
    <title>{title ? `${title} - Mario Abreu` : "Mario Abreu"}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content={site.user} />
    <meta name="description" content={t("site.description")} />
    <meta name="keywords" content={t("site.keywords")} />
    <meta name="theme-color" content="#262626" />
    <meta name="generator" content={Astro.generator} />
    <!-- Open Graph -->
    <meta property="og:title" content={`${site.user} - ${t("user.role")}`} />
    <meta property="og:description" content={t("site.description")} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={site.url} />
    <meta property="og:image" content={site.image} />
    <meta property="og:locale" content={site.locale} />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content=`${site.user} - ${t("user.role")}` />
    <meta name="twitter:description" content={t("site.description")} />
    <meta name="twitter:image" content={site.image} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={site.url} />

    <!-- JSON-LD: Persona -->
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdPersona)}> </script>

    <!-- JSON-LD: Servicio -->
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdService)}></script>
  </head>
  <body class="bg-stone-50 text-stone-600 transition-colors duration-500">
    <main>
      <slot />
    </main>
  </body>
</html>
